<p id="notice"><%= notice %></p>

<h1>Listing Classifications</h1>

<table>
  <thead>
    <tr>
      <th>Notizia</th>
      <th>Maltempo</th>
      <th>Manutenzione</th>
      <th>Guasto</th>
      <th>Idrica</th>
      <th>Stradale</th>
      <th>Telecomunicazioni</th>
      <th>Elettrica</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @classifications.each do |classification| %>
      <tr>
        <td rowspan="2" style="width: 60%"><%= classification.notizia %></td>
		
        <td style="width: 10%">
		 <% if classification.maltempo %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.manutenzione %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.guasto %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.idrica %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.stradale %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.telecomunicazioni %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.elettrica %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td rowspan="2"><%= link_to 'Show', classification %></td>
        <td rowspan="2"><%= link_to 'Destroy', classification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
	  <tr>
        <td style="width: 10%">
		 <% if classification.maltempo2 %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.manutenzione2 %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.guasto2 %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.idrica2 %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.stradale2 %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.telecomunicazioni2 %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
        <td style="width: 10%">
		 <% if classification.elettrica2 %>
          <%= image_tag("ok.png", size: "40")  %>
         <% else %>
          <%= image_tag("ko.png", size: "40")  %>
         <% end %>
	    </td>
	  </tr>
	  <tr>
	  <td colspan="10">
	  <hr/>
	  </td>
	  </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Classification', new_classification_path %>
