<p id="notice"><%= notice %></p>

<p>
  <strong>Notizia:</strong>
  <%= @classification.notizia %>
</p>

<p>
  <strong>estratto:</strong>
  <%= @classification.estratto %>
</p>

<table style="widht; 100%">
  <tr>
     <th>
	 </th>
     <th>
      <strong>Maltempo</strong>  
	 </th>
	 <th>
      <strong>Manutenzione</strong>
	 </th>
     <th>
      <strong>Guasto</strong>
	 </th>
     <th>
      <strong>Idrica</strong>
	 </th>
     <th>
      <strong>Stradale</strong>
	 </th>
     <th>
      <strong>Telecomunicazioni</strong>
	 </th>
     <th>
      <strong>Elettrica</strong>
	 </th>
  </tr>
  <tr>
    <td>
      Logistic<br/>
	  Regression
	</td>
    <td>
      <% if @classification.maltempo %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.manutenzione %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.guasto %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.idrica %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.stradale %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.telecomunicazioni %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.elettrica %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
	  Multilayer<br/>
	  Perceptron
	</td>
    <td>
      <% if @classification.maltempo2 %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.manutenzione2 %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.guasto2 %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.idrica2 %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.stradale2 %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.telecomunicazioni2 %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
    <td>
      <% if @classification.elettrica2 %>
        <%= image_tag("ok.png", size: "40")  %>
      <% else %>
        <%= image_tag("ko.png", size: "40")  %>
      <% end %>
    </td>
  </tr>
</table>

<%= link_to 'Torna notizie classificate', classifications_path %>
